<a
      class="grid-cols-2 gap-12 p-8 pt-8 pb-8 bg-white border-2 border-solid border-pink-300 rounded-lg mt-8 mb-8 flex flex-row block hover:bg-pink-100 hover:no-underline"
      href="https://amzn.to/4b0yTwC">
  <div class="hidden lg:block">
    <img
            src="/images/livre-cover.jpg" alt="Pochette du livre Qualité logicielle pour les développeurs"
          class="rounded-lg h-48 shadow-lg "
    >
  </div>
  <div class="md:2/3">
    <p class="text-sm text-gray-800 pb-4 italic ">
      Si ce blog vous plaît, vous trouverez de nombreux conseils pratiques dans mon livre. C'est une bonne manière de me soutenir et de m'encourager
      <span class="text-pink-500">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 inline">
          <path d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z" />
        </svg>
      </span>
    </p>

    <h1 class="text-3xl font-bold">Qualité logicielle pour les développeurs</h1>
    <p class="mt-4 text-lg text-gray-600">Le livre qui vous aide à améliorer la qualité de vos projets.</p>


    <div class="md:hidden mx-auto mb-4 text-center">
      <img
              src="/images/livre-cover.jpg" alt="Pochette du livre Qualité logicielle pour les développeurs"
              class="mx-auto rounded-lg h-48 shadow-lg ">
    </div>


    <ul class="list-inside mt-4 text-sm ">
      <li class="mt-8 md:mt-4">✅ Comment mettre en place des tests automatisés pérennes ;</li>
      <li class="mt-2">✅ Comment analyser la qualité de votre code ;</li>
      <li class="mt-2">✅ Faites adhérer votre équipe à la qualité logicielle.</li>
    </ul>
  </div>
</a>
