<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{ site.theme.name }} - {{ page.title }}</title>
<meta name="author" content="{{ site.theme.name }}" />
<meta name="description" content="{{page.excerpt | truncatewords: 20 | strip_html | strip_newlines | strip }}" />
<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="shortcut icon" href="/favicon.png">
<link rel="alternate" type="application/rss+xml" title="{{ site.theme.name }}" href="{{site.url}}/atom.xml" />
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>

{% if page and page.cover %}
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description"
      content="{{page.excerpt | truncatewords: 20 | strip_html | strip_newlines | strip }}">
<meta property="og:image" content="{{ site.url }}/images/cover/{{ page.cover }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}">
<meta property="twitter:title" content="{{ page.title }}">
<meta property="twitter:description"
      content="{{page.excerpt | truncatewords: 20 | strip_html | strip_newlines | strip }}">
<meta property="twitter:image" content="{{ site.url }}/images/cover/{{ page.cover }}">
{% endif %}

{% if page and page.canonical %}
<link rel="canonical" href="{{ page.canonical }}">
{% endif %}

{% if site.env != "development" %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-REE9CFYML9"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-REE9CFYML9');
</script>
{% endif %}

