<nav>
    <a href="/">
        <img src="/logo.png" id="logo" alt="Blog de Jean-François Lépine : Industrialisation, qualité PHP"/>
    </a>
    <h2>Blog de <br/><a href="https://lepine.pro">{{ site.theme.name }}</a></h2>

    <p class="my-8">
        Responsable technique, je m'intéresse particulièrement à la qualité logicielle et à l'industrialisation.
    </p>
    <p>
        <a href="{{site.url}}/about/qui-suis-je.html">&gt; Plus d'informations</a>
    </p>

    <div id="social" class="my-8">
        {% include social.html %}
    </div>
</nav>