---
---
{% include css/base.css %}
{% include css/skeleton.css %}
{% include css/screen.css %}
{% include css/layout.css %}
{% include css/syntax.css %}

body {
    /*background-image: url("/images/cool-background.jpg");*/
    background-color: #EEE;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
body .content {
    border-left: none;
}
body h2, body h3,body h4,body h5,body h6, #post h1 {
    margin: 2em 0 0.5em;
    font-weight: bold;
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    color: #181818;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
h1.title {
    font-size: 2.5em;
    line-height:1.3em;
    margin: 0.5em 0 0.5em;
    font-weight: 700;
    color: #000;
}
#post {
    text-align: justify;
}
#post li {
    list-style: disc;
    margin-bottom: 1em;
}
#post ul {
    margin-top: 1em;
    margin-bottom: 2em;
}
#post p {
    margin:1em 0;
    line-height: 1.7rem;
    margin-bottom: 2.5rem;
    color: #000;
}
#post p a {
    color: #0369a1;
}
#post strong {
    font-weight: bold;
}
#post h2 {
    font-size: 2em;
    line-height: 1.2em;
    text-decoration: underline;
}
#post h3 {
    font-size: 1.6em;
}
a, a:visited {
    color: #0369a1;
}

.footer {
    border-top: none;
}

.card:hover .card-excerpt {
    color: #EEE;
}
.card:hover .card-tags {
    display: none;
}

#post pre {
    background-color: #FFF;
    overflow-x: auto;
    display: block;
    padding: 0;
    border: none;
}
#post pre code {
    background-color: #000;
    border-radius: 0.5rem;
    color: #EEE;
    font-size: 0.9em;
    line-height: 1.5em;
    display: block;
    padding: 1em;
    white-space: pre;
    overflow-x: auto;
}

.post_social {
    min-height: 30px;
    max-height: 30px;
}